pytest==7.1.2
pytest-testdox==3.0.1
pytest-cov==3.0.0
coverage==6.4.4
flake8==5.0.4
minio==7.1.11
python-magic==0.4.27
setuptools==45.2.0
mkdocs==1.2.3
mkdocs-material==8.1.2
mkdocs-material-extensions==1.0.3