pytest==7.3.1
pytest-cov==4.0.0
pytest-testdox==3.0.1
flake8==6.0.0
flake8_black==0.3.6
coverage==7.2.5
tox==4.5.1
tox-docker==4.1.0
psycopg2-binary==2.9.3
mkdocs==1.4.3
mkdocs-material
mkdocs-material-extensions
minio==7.1.15
python-magic==0.4.27
setuptools>=65.5.1
tox-docker==4.1.0